/* -------------------------------------------------------- 
# Custom variables
---------------------------------------------------------*/
$body-bg: #eff0f8;
$body-color: #4f5264;
$primary: #7C12F8;
$primary-light: lighten($primary, 15%);
$dark: #212529;
$light: #c8c7d0;
$card-bg: #FFFFFF;