/* -------------------------------------------------------- 
# Custom variables
---------------------------------------------------------*/

// colors
$body-bg: #F7F8FF;
$body-color: #4f5264;
$primary: #7C12F8;
$primary-light: lighten($primary, 15%);
$dark: #212529;
$light: #c8c7d0;

// inputs
$input-bg: #FFFFFF;
$input-padding-y: 12px;
$input-padding-x: 16px;

// cards
$card-bg: #FFFFFF;

// tables
$table-bg: #FFFFFF;
$table-color: $body-color;

// buttons
$btn-font-weight: 500;
$btn-padding-x: 20px;
$btn-padding-y: 10px;

//  alerts
$alert-border-width: 0;

// list groups
$list-group-bg: #FFFFFF;

// offcanvas
$offcanvas-horizontal-width: 300px;