// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Partials
@import 'typography';
@import 'components';




.docs-sidebar {
    width: 300px;
    .docs-nav {
        .nav-link {
            padding: 6px 0;  
            color: $body-color;
            font-weight: 500;
            &:hover, &:focus, &.active {
                color: $primary;
            }
        }
        /* .nav .nav {
            display: none;
        }
        .nav .active + .nav {
            display: block;
        } */
    }
}

.docs-content {
    @include media-breakpoint-up(lg) {
        margin-left: 300px;
    }
}

